[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
flask-bcrypt = "*"
python-dotenv = "*"
pyjwt = "*"
mongoengine = "*"
flask-login = "*"
flask-jwt-extended = "*"

[dev-packages]
watchdog = "*"

[requires]
python_full_version = "3.8.13"

[scripts]
start = "flask run"
dev = "watchdog app.py"
